# Global common variables
imagePullSecrets: []
nameOverride: ""
namespaceOverride: ""
fullnameOverride: ""
nodeSelector: {}
topologySpreadConstraints: []

# Settings related to BW in a k8s environment
settings:
  # Specify the name of an existing secret containing the values of certain sensitive parameters listed here with their corresponding keys :
  # settings.misc.databaseUri : database-uri
  # settings.redis.redisUsername : redis-username
  # settings.redis.redisPassword : redis-password
  # settings.ui.adminUsername : admin-username
  # settings.ui.adminPassword : admin-password
  # settings.ui.flaskSecret: flask-secret
  # settings.ui.totpSecrets: totp-secrets
  # redis.config.password : redis-password
  # mariadb.config.user : mariadb-user
  # mariadb.config.password : mariadb-password
  existingSecret: ""
  kubernetes:
    namespaces: ""
    ingressClass: ""
    domainName: "cluster.local"
  misc:
    databaseUri: ""
    dnsResolvers: "coredns.kube-system.svc.cluster.local"
    apiWhitelistIp: "127.0.0.0/8 10.0.0.0/8 172.16.0.0/12 192.168.0.0/16"
  redis:
    useRedis: "yes"
    redisHost: ""
    redisUsername: ""
    redisPassword: ""

  ui:
    wizard: true
    ingress:
      enabled: false
      serverName: ""
      serverPath: "/"
      extraAnnotations: {}
      tlsSecretName: ""
    adminUsername: ""
    adminPassword: ""
    overrideAdminCreds: "no"
    flaskSecret: ""
    totpSecrets: ""

# Service
service:
  enabled: true
  type: LoadBalancer
  externalTrafficPolicy: Local
  annotations: {}

# BunkerWeb variables
bunkerweb:
  kind: DaemonSet
  enableInstance: true # Pod annotations, required for k8s integration, or/and when using the controller
  hostPorts: true
  replicas: 1
  repository: bunkerity/bunkerweb
  pullPolicy: Always
  tag: 1.6.4
  ## RECOMMENDED RESOURCES
  ## If you want to set resources for the bunkerweb, uncomment the following lines and adjust the values as needed.
  # resources:
  #   requests:
  #    cpu: "2000m"
  #    memory: "4096Mi"
  #  limits:
  #    cpu: "4000m"
  #    memory: "8192Mi"
  podAnnotations: {}
  podLabels: {}
  securityContext:
    runAsUser: 101
    runAsGroup: 101
    allowPrivilegeEscalation: false
    capabilities:
      drop:
        - ALL
  extraEnvs: []
  livenessProbe:
    exec:
      command:
        - /usr/share/bunkerweb/helpers/healthcheck.sh
    initialDelaySeconds: 30
    periodSeconds: 5
    timeoutSeconds: 1
    failureThreshold: 3
  readinessProbe:
    exec:
      command:
        - /usr/share/bunkerweb/helpers/healthcheck.sh
    initialDelaySeconds: 30
    periodSeconds: 1
    timeoutSeconds: 1
    failureThreshold: 3

# Scheduler variables
scheduler:
  repository: bunkerity/bunkerweb-scheduler
  pullPolicy: Always
  tag: 1.6.4
  ## RECOMMENDED RESOURCES
  ## If you want to set resources for the Scheduler, uncomment the following lines and adjust the values as needed.
  # resources:
  #   requests:
  #    cpu: "250m"
  #    memory: "256Mi"
  #  limits:
  #    cpu: "500m"
  #    memory: "512Mi"
  podAnnotations: {}
  podLabels: {}
  securityContext:
    runAsUser: 101
    runAsGroup: 101
    allowPrivilegeEscalation: false
    capabilities:
      drop:
        - ALL
  extraEnvs: []
  # Probes
  livenessProbe:
    exec:
      command:
        - /usr/share/bunkerweb/helpers/healthcheck-scheduler.sh
    initialDelaySeconds: 30
    periodSeconds: 5
    timeoutSeconds: 1
    failureThreshold: 3
  # PRO Features only
  proLicenseKey: ""
  usePrometheusExporter: false

# Controller variables
controller:
  enabled: true
  repository: bunkerity/bunkerweb-autoconf
  pullPolicy: Always
  tag: 1.6.4
  ## RECOMMENDED RESOURCES
  ## If you want to set resources for the Controller, uncomment the following lines and adjust the values as needed.
  # resources:
  #   requests:
  #    cpu: "100m"
  #    memory: "128Mi"
  #  limits:
  #    cpu: "250m"
  #    memory: "256Mi"
  podAnnotations: {}
  podLabels: {}
  securityContext:
    runAsUser: 101
    runAsGroup: 101
    allowPrivilegeEscalation: false
    capabilities:
      drop:
        - ALL
  extraEnvs: []
  # probes
  livenessProbe:
    exec:
      command:
        - /usr/share/bunkerweb/helpers/healthcheck-autoconf.sh
    initialDelaySeconds: 30
    periodSeconds: 5
    timeoutSeconds: 1
    failureThreshold: 3
  readinessProbe:
    exec:
      command:
        - /usr/share/bunkerweb/helpers/healthcheck-autoconf.sh
    initialDelaySeconds: 30
    periodSeconds: 1
    timeoutSeconds: 1
    failureThreshold: 3

ui:
  enabled: true
  repository: bunkerity/bunkerweb-ui
  pullPolicy: Always
  tag: 1.6.4
  ## RECOMMENDED RESOURCES
  ## If you want to set resources for the UI, uncomment the following lines and adjust the values as needed.
  # resources:
  #   requests:
  #    cpu: "100m"
  #    memory: "256Mi"
  #  limits:
  #    cpu: "250m"
  #    memory: "512Mi"
  podAnnotations: {}
  podLabels: {}
  securityContext:
    runAsUser: 101
    runAsGroup: 101
    allowPrivilegeEscalation: false
    capabilities:
      drop:
        - ALL
  extraEnvs: []
  # probes
  livenessProbe:
    exec:
      command:
        - /usr/share/bunkerweb/helpers/healthcheck-ui.sh
    initialDelaySeconds: 30
    periodSeconds: 5
    timeoutSeconds: 1
    failureThreshold: 3
  readinessProbe:
    exec:
      command:
        - /usr/share/bunkerweb/helpers/healthcheck-ui.sh
    initialDelaySeconds: 30
    periodSeconds: 1
    timeoutSeconds: 1
    failureThreshold: 3

# Database variables
mariadb:
  enabled: true
  persistence:
    size: 5Gi
    storageClass: ""
  config:
    randomRootPassword: "1"
    database: "db"
    user: "bunkerweb"
    password: "changeme"
  args: []
  ## RECOMMENDED RESOURCES
  ## If you want to set resources for the DB, uncomment the following lines and adjust the values as needed.
  # resources:
  #   requests:
  #    cpu: "250m"
  #    memory: "512Mi"
  #  limits:
  #    cpu: "500m"
  #    memory: "1024Mi"

# Redis variables
redis:
  enabled: true
  useConfigFile: false
  config:
    password: "changeme"
    file: |
      appendonly yes
      save ""
      loglevel verbose
      maxmemory 512mb
      maxmemory-policy allkeys-lru
  ## RECOMMENDED RESOURCES
  ## If you want to set resources for the DB, uncomment the following lines and adjust the values as needed.
  # resources:
  #   requests:
  #    cpu: "250m"
  #    memory: "512Mi"
  #  limits:
  #    cpu: "500m"
  #    memory: "1024Mi"

# IngressClass variables
ingressClass:
  enabled: true
  name: "bunkerweb"
  controller: "bunkerweb.io/ingress-controller"

# Prometheus variables
prometheus:
  enabled: false
  repository: prom/prometheus
  pullPolicy: Always
  tag: v3.3.1
  replicas: 1
  podAnnotations: {}
  podLabels: {}
  securityContext:
    fsGroup: 65534
  persistence:
    enabled: true
    size: 8Gi
    storageClass: ""
    accessModes:
      - ReadWriteOnce

# Grafana variables
grafana:
  enabled: false
  repository: grafana/grafana
  tag: latest
  pullPolicy: IfNotPresent
  replicas: 1
  adminUser: admin
  adminPassword: "" # Leave empty to generate a random password
  # existingSecret: "" # or use an existing secret for the password
  service:
    type: ClusterIP
    port: 3000
  ingress:
    enabled: false
    # className: ""
    # annotations: {}
    #   # kubernetes.io/ingress.class: nginx
    #   # kubernetes.io/tls-acme: "true"
    # hosts:
    #   - host: chart-example.local
    #     paths:
    #       - path: /
    #         pathType: ImplementationSpecific
    # tls: []
    #  - secretName: chart-example-tls
    #    hosts:
    #      - chart-example.local
  persistence:
    enabled: false
    size: 10Gi
    storageClass: ""
    accessModes:
      - ReadWriteOnce
    # annotations: {}

  # Config for Prometheus data source
  prometheusDatasource:
    name: Prometheus
    type: prometheus
    url: 'http://prometheus-{{ include "bunkerweb.fullname" . }}.{{ include "bunkerweb.namespace" . }}.svc:9090' # URL du service Prometheus
    access: proxy
    isDefault: true
  podAnnotations: {}
  podLabels: {}
  securityContext:
    {}
    # fsGroup: 472
    # runAsUser: 472
    # runAsGroup: 472
  # extraEnvs: []
  # sidecar:
  #   dashboards:
  #     enabled: false
  #     label: grafana_dashboard
  #     labelValue: "1"
  #     folder: /tmp/dashboards

# Network Policy configuration
networkPolicy:
  enabled: false
  egress:
    allowSameNamespace: true
    allowInternet: true
    internetPorts: [80, 443]
    allowDatabaseVNet: true
    databaseVNetCIDR: "10.0.0.0/16"
    databasePort: 3306
